body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(background\ 2.jpg)no-repeat center center/cover;;
    color: #fff;
    background-size: 100% 100%;
}

header {
    background: url(background\ 2.jpg)no-repeat center center/cover;;
    color: #fff;
    padding: 15px;
    text-align: center;
    background-size: 100% 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background: url('background 1.jpeg') no-repeat center center/cover;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    font-size: 2em;
}

main {
    padding: 30px;
    background-image:url(background\ 2.jpg)no-repeat center center/cover;;
    background-size: 100% 100%;
    margin-bottom: 200px;
}

section {
    margin-bottom: 20px;
}

.card {
    background-color: #000000af;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.gallery {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
}

.gallery img {
    width: 8%;       
    border-radius: 8px;
    height: 400px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 5px;
}
.personagem {
    width: 50px;
}

.contact {
    margin-bottom: 10px;
}
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para tablets */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .container {
      padding: 10px;
    }
  }
  
  /* Estilos para celulares */
  @media (max-width: 480px) {
    body {
      font-size: 12px;
    }
  
    .container {
      padding: 5px;
    }
  }
  .container {
    width: 100%;
    padding: 1em;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 1 1 200px; /* Cresce e encolhe, com largura mínima de 200px */
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
        