body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(background\ 2.jpg);
    color: #fff;
}

header {
    background: url(background\ 2.jpg);
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background: url('background 1.jpeg') no-repeat center center/cover;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    font-size: 2em;
}

main {
    padding: 20px;
    background-image:url(background\ 2.jpg);
}

section {
    margin-bottom: 20px;
}

.card {
    background-color: #50195e;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.gallery {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
}

.gallery img {
    width: 8%;       
    border-radius: 8px;
    height: 400px;
}

footer {
    background-color: #50195e;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 5px;
}
.personagem {
    width: 50px;
}

.contact {
    margin-bottom: 10px;
}